<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batchdev.myBatisOrclTest.repository.EmployMapper">
    <select id="selectEmployById" resultType="Employ">
        SELECT EMP_ID, ENO, EMP_KORN_NM FROM CI0020
        WHERE EMP_ID = #{empId}
    </select>
</mapper>
